.card {
    cursor: pointer;
    background: rgb(255, 255, 255);
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 255, .2);
    transition: all .2s;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
}
.card:hover {
    box-shadow: -12px 12px 2px -1px rgba(0, 0, 255, .2);
}
/* Estilos para el modo oscuro */
body.dark-mode .card {
    background: #2c2c2c; /* Color gris para el modo oscuro */
    border: 1px solid rgba(255, 255, 255, 0.2); /* Borde más claro en modo oscuro */
    color: #ffffff; /* Color del texto en el card */
}
        
/* Estilos para la barra de búsqueda */
.form {
--input-bg: #f2f2f2; /* Color de fondo inicial */
--padding: 1.5em;
--rotate: 80deg;
--gap: 2em;
--icon-change-color: #15A986;
--height: 40px;
width: 100%;
padding-inline-end: 1em;
background: var(--input-bg);
position: relative;
border-radius: 4px;
color: #333;
border: none; /* Evitar bordes */
}

/* Cambiar fondo a blanco al hacer clic */
.form input:focus {
background: #fff; /* Cambia el color de fondo a blanco */
border: none; /* Sin bordes */
}

/* Asegurar que el espacio alrededor de la barra de búsqueda también cambie de color */
.form:focus-within {
background: #fff; /* Cambiar todo el contenedor a blanco */
border: none; /* Sin bordes */
}

.form label {
display: flex;
align-items: center;
width: 100%;
height: var(--height);
}

.form input {
width: 100%;
padding-inline-start: calc(var(--padding) + var(--gap));
outline: none;
background: none;
border: none; /* Sin bordes */
}

.form svg {
color: #111;
transition: 0.3s cubic-bezier(.4, 0, .2, 1);
position: absolute;
height: 15px;
}

.icon {
position: absolute;
left: var(--padding);
transition: 0.3s cubic-bezier(.4, 0, .2, 1);
display: flex;
justify-content: center;
align-items: center;
}

.swap-off {
transform: rotate(-80deg);
opacity: 0;
visibility: hidden;
}

.close-btn {
background: none;
border: none;
right: calc(var(--padding) - var(--gap));
box-sizing: border-box;
display: flex;
align-items: center;
justify-content: center;
color: #111;
padding: 0.1em;
width: 20px;
height: 20px;
border-radius: 50%;
transition: 0.3s;
opacity: 0;
transform: scale(0);
visibility: hidden;
}

.form input:focus ~ .close-btn {
opacity: 1;
visibility: visible;
transform: scale(1);
transition: 0s;
}